*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
    list-style-type: none;
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
}

body{
    background-color: var(--boja1);
    --boja1: #534859;
    --boja2: #FBF0E8;

    --boja3: #FBD0D0;
    --boja4: #F9688D;

    transition-duration: 1s;
    margin: 0.1px;
    overflow-x: hidden;
    /* opacity: 0; */
}
.onoKaoBasSve{
    opacity: 0;
    transition-duration: 2s;
}
.drvce{
    position: absolute;
    z-index: 1;
}
.drvce2{
    position: absolute;
    right: -2%;
    top: -13%;
    z-index: 1;
}
.latice{
    transition-duration: 2s;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 1;
}
.sve{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5em;
    padding: 1em;
    margin-top: 0.5em;
}
.sve a{
    color: var(--boja1);
    font-size: 20px;
}
.sve a:hover{
    text-shadow: 
    0px 0px 10px var(--boja1),
    0px 0px 10px var(--boja4);
    cursor: pointer;
}   
